*, *::before *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: aliceblue;
    margin: 0;

}

nav {
    display: flex;
    background-color: #107da8;
    width: 100%;
    justify-content: center;
    padding: .2em;
    font-family: Arial, Helvetica, sans-serif;
}

nav div {
    padding-right: 10px;
    font-weight: 600;
}

nav a {
    font-weight: normal;
    color: gold;
}

.wizimg {
    width: 100%;
    height: auto;
    overflow: hidden;

}

.flex-container {
    display: flex;
    background-color: rgb(119, 150, 245);
}

.flexonem {
    width: 30%;
    margin: 1em;
    text-align: center;
    background-color: azure;

}

.flexonem p {
    text-align: left;
    text-indent: 15px;
}

.flexonem img {
    width: 100%;
    margin: auto, 0;
    height: 287px;
    overflow: hidden;
}

main {
    flex: 2;
    margin: 1em;
}

aside {
    flex: 1;
    margin: 1em;
}

footer {
    background-color: goldenrod;
    color: slategray;
    text-align: right;

}

h1, h2, h3{
    color: rgb(74, 85, 94);
}
h1 {
    text-align: center;
    text-transform: capitalize;
}

aside h3 {
    text-align: center;
}